* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black !important;
}

.container {
    text-align: center;
    color: white;
}

.container table {
    margin: 20px auto;
}

.container h1 span {
    color: yellow;
}

button {
    padding: 5px 10px;
    margin: 10px;
}